<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.net>
    <!-- useDefaultCredentials="true" permite que o app acesse a internet onde existe Proxy-->
    <defaultProxy useDefaultCredentials="true" />
  </system.net>
  <appSettings>
    <add key="ID_CONEXAO_SISTEMA" value="MARTE" />
    <add key="LIMITE_PROCESSAR" value="10" />
    <add key="BING_MAPS_KEY" value="AtYLmDIPEXV1O4NeeA-YS8YCz3iYzGO6j_AyGmnunpTrgxPWlokHbkITFPMPqd7m" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Prosegur.DbHelper" publicKeyToken="1833a9fd5e21244f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.1701.502" newVersion="3.1.1701.502" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>