<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ID_CONEXAO_SISTEMA" value="MARTE" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Prosegur.DbHelper" publicKeyToken="1833a9fd5e21244f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.1701.502" newVersion="3.1.1701.502" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>