<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="adapter.rateio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <httpModules/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" externalMetadataLocation="../wsdl/rateioot.wsdl"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
    <bindings>
      <basicHttpBinding>
        <binding name="RateioOTSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="RateioOTSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:7745/RateioAdapter.svc" binding="basicHttpBinding"
        bindingConfiguration="RateioOTSoap" contract="RateioOTSoap"
        name="RateioOTSoap" />
      <endpoint address="http://localhost:7745/RateioAdapter.svc" binding="customBinding"
        bindingConfiguration="RateioOTSoap12" contract="RateioOTSoap"
        name="RateioOTSoap12" />
    </client>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <applicationSettings>
    <adapter.rateio.Properties.Settings>
      <setting name="adapter_rateio_WsIntegracaoRateioOT_RateioOT"
        serializeAs="String">
        <value>http://10.80.48.91/Prosegur.Profat.WS_Versao13/IntegracaoRateioOT.asmx</value>
      </setting>
    </adapter.rateio.Properties.Settings>
  </applicationSettings>
</configuration>