<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Prosegur.OM13.Migracao.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <appSettings>
    <!-- NOME DA INSTANCIA DO ARQUIVO DE CONEXÕES -->
    <add key="ConexaoMarte" value="MARTE" />
    <add key="ConexaoNOVI" value="NOVI" />
    <add key="ConexaoPROFAT" value="PROFAT" />
    <!-- 1 = ATIVA WS / 0 = DESATIVA -->
    <add key="HabilitarWSPROFAT" value="0" />
    <!-- 1 = ATIVA LOGS / 0 = DESATIVA -->
    <add key="HabilitarLog" value="1" />
    <!-- PASTA ONDE SERA GRAVADOS OS LOGS... INFORMAR SEM A ULTIMA BARRA. EX.: 'C:\INSTYTU' -->
    <add key="DirLogs" value="C:\_LOG" />
  </appSettings>
  <applicationSettings>
    <Prosegur.OM13.Migracao.My.MySettings>
      <setting name="Prosegur_OM13_Migracao_WSPROFAT_ClienteMarteProfat"
        serializeAs="String">
        <value>http://10.80.48.91/Prosegur.Profat.WS/ClienteMarteProfat.asmx</value>
      </setting>
    </Prosegur.OM13.Migracao.My.MySettings>
  </applicationSettings>
</configuration>